@import "../../index.scss";

// Hero screen
.hero {
  @include square-bg;
  > div {
    background-image: url("../../assets/hero-bg.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    @include phone {
      background-attachment: scroll;
    }

    > div {
      @include container;

      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 200px 0 100px;
      @include desktop {
        padding: 15vw 0 10vw;
      }

      // Text
      > div:first-of-type {
        width: 70%;

        // Hello
        h2 {
          @include large-text;
          font-weight: 300;
          margin-bottom: 25px;

          @include desktop {
            margin-bottom: 2vw;
          }
        }

        // Intro
        p {
          @include text;
          margin-bottom: 25px;
          @include desktop {
            margin-bottom: 2vw;
          }
        }

        // Links
        > div {
          display: flex;
          align-items: center;

          // Read full story
          a:first-of-type {
            @include small-text;
            @include link;
            margin-right: 2vw;
          }

          // Hire me
          a:nth-of-type(2) {
            @include button;
            text-align: center;
            text-decoration: none;
          }
        }
      }

      // Image
      > div:nth-of-type(2) {
        width: 30%;
        img {
          width: 100%;
        }
        display: none;
      }

      @include phone {
        // Text
        > div:first-of-type {
          width: 100%;
          // Links
          > div {
            align-items: flex-start;
            flex-direction: column;

            // Read full story
            a:first-of-type {
              margin-bottom: 5vw;
            }
          }
        }
        // Image
        > div:nth-of-type(2) {
          display: none;
        }
      }
    }
  }
}

// Graphic
.myWorks {
  height: 70vh;
  background-image: url("../../assets/david.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;

  @include phone {
    height: 50vh;
    background-attachment: scroll;
  }
  img {
    width: 100%;
  }

  button {
    @include button;
  }

  display: flex;
  align-items: center;
  justify-content: center;
}

// Brand colors
.colors {
  @include square-bg;
  border-top: 1px solid rgba(45, 45, 45, 0.5);
  > div {
    @include container;
    padding: 100px 0 125px;

    @include phone {
      padding: 50px 0 100px;
    }

    @include desktop {
      padding: 6vw 0 8vw;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;

    li {
      width: 25%;
      background-color: $yellow;
      padding: 2.5vw 1.5vw;

      p {
        @include small-text;
      }

      &:first-of-type {
        background-color: $black;
        p {
          color: white;
        }
      }
      &:nth-of-type(2) {
        background-color: $yellow;
      }
      &:nth-of-type(3) {
        background-color: $gray;
      }
      &:nth-of-type(4) {
        background-color: $pink;
      }
    }

    @include phone {
      flex-wrap: wrap;
      li {
        width: 50%;
        height: 20vw;
        display: flex;
        align-items: flex-end;
      }
    }
  }
}

// FAQs
.faqs {
  @include square-bg;
  display: flex;
  align-items: center;
  > div {
    @include container;
    padding: 0 0 100px;

    @include phone {
      padding: 0 0 50px;
    }

    @include desktop {
      padding: 0 0 6vw;
    }

    display: flex;
    flex-direction: column;
    a {
      @include large-text;
      @include link;
      margin-bottom: 25px;

      &::after {
        content: "\2197 \FE0E";
        display: inline-block;
        font-size: 0.8em;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        position: relative;

        @include phone {
          font-size: 0.6em;
          top: -30px;
        }

        @include tablet {
          font-size: 0.7em;
          top: -45px;
        }

        @include desktop {
          font-size: 0.6em;
          top: -4vw;
        }
      }
    }

    p {
      @include text;
    }
  }
}
