@import "../../index.scss";

.container {
  @include square-bg;

  // Text
  section:first-of-type {
    @include container;
    padding: 0 0 100px;

    p {
      @include text;
      margin-bottom: 25px;

      a {
        @include link;
      }
    }
  }
}
