/* roboto-mono-200 - latin */
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 200;
  src: url("./assets/fonts/roboto-mono-v12-latin-200.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./assets/fonts/roboto-mono-v12-latin-200.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/roboto-mono-v12-latin-200.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/roboto-mono-v12-latin-200.woff") format("woff"),
    /* Modern Browsers */ url("./assets/fonts/roboto-mono-v12-latin-200.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/roboto-mono-v12-latin-200.svg#RobotoMono")
      format("svg"); /* Legacy iOS */
}

/* roboto-mono-300 - latin */
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/roboto-mono-v12-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./assets/fonts/roboto-mono-v12-latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/roboto-mono-v12-latin-300.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/roboto-mono-v12-latin-300.woff") format("woff"),
    /* Modern Browsers */ url("./assets/fonts/roboto-mono-v12-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/roboto-mono-v12-latin-300.svg#RobotoMono")
      format("svg"); /* Legacy iOS */
}

/* roboto-mono-regular - latin */
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/roboto-mono-v12-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./assets/fonts/roboto-mono-v12-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/roboto-mono-v12-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/roboto-mono-v12-latin-regular.woff") format("woff"),
    /* Modern Browsers */
      url("./assets/fonts/roboto-mono-v12-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/roboto-mono-v12-latin-regular.svg#RobotoMono")
      format("svg"); /* Legacy iOS */
}

/* roboto-mono-500 - latin */
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/roboto-mono-v12-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./assets/fonts/roboto-mono-v12-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/roboto-mono-v12-latin-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/roboto-mono-v12-latin-500.woff") format("woff"),
    /* Modern Browsers */ url("./assets/fonts/roboto-mono-v12-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/roboto-mono-v12-latin-500.svg#RobotoMono")
      format("svg"); /* Legacy iOS */
}

/* roboto-mono-600 - latin */
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/roboto-mono-v12-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./assets/fonts/roboto-mono-v12-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/roboto-mono-v12-latin-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/roboto-mono-v12-latin-600.woff") format("woff"),
    /* Modern Browsers */ url("./assets/fonts/roboto-mono-v12-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/roboto-mono-v12-latin-600.svg#RobotoMono")
      format("svg"); /* Legacy iOS */
}

$pink: #febecc;
$blue: #017cfd;
$red: #ff3500;

$black: #2d2d2d;
$yellow: #fef000;
$gray: #f2f2f2;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  font-weight: 200;
  color: $black;

  line-height: 1.5;
  //text-transform: uppercase;
}

@mixin phone {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 769px) and (max-width: 1199px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin container {
  margin: 0 auto;

  @include phone {
    width: 90vw;
  }

  @include tablet {
    width: 80vw;
  }

  @include desktop {
    width: 70vw;
  }
}

@mixin container {
  margin: 0 auto;

  @include phone {
    width: 90vw;
  }

  @include tablet {
    width: 80vw;
  }

  @include desktop {
    width: 70vw;
  }
}

// Normal text
@mixin text {
  @include phone {
    font-size: 1.25rem;
  }

  @include tablet {
    font-size: 1.55rem;
  }

  @include desktop {
    font-size: 1.75rem;
  }

  @media only screen and (min-width: 1800px) {
    font-size: 1.75vw;
  }
}

@mixin body {
  @include phone {
    font-size: 1.25rem;
  }

  @include tablet {
    font-size: 1.55rem;
  }

  @include desktop {
    font-size: 1.75rem;
  }

  @media only screen and (min-width: 1800px) {
    font-size: 1.75vw;
  }
}

h3 {
  @include phone {
    font-size: 1.75rem;
  }

  @include tablet {
    font-size: 2rem;
  }

  @include desktop {
    font-size: 3rem;
  }

  @media only screen and (min-width: 1800px) {
    font-size: 2.5vw;
  }
}

// Normal text
@mixin heading {
}

// Link
@mixin link {
  color: $black;
  text-decoration: underline;
  transition: all 0.25s ease;

  &:hover {
    color: $yellow;
    text-decoration: none;
  }
}

// Text highlight
@mixin highlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, $yellow 40%);
}

@mixin button {
  text-decoration: none;
  display: block;
  width: 100%;
  @include text;
  text-align: center;
  color: $black;
  padding: 10px 5px;
  background-color: transparent;
  border: 1px solid $black;
  border-radius: 2px;
  transition: all 0.25s ease;
  cursor: pointer;
  outline: none;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;

  &:hover {
    background-color: $yellow;
    border: 1px solid $black;
  }
  margin: 10px 0;
}

// Heading
@mixin heading {
  font-weight: 400;
  @include phone {
    font-size: 6vw;
  }

  @include tablet {
    font-size: 2.5rem;
  }

  @include desktop {
    font-size: 4vw;
  }
}

// Subheading
h3 {
  font-weight: 300;

  @include phone {
    font-size: 6vw;
    margin-bottom: 25px;
  }

  @include tablet {
    font-size: 2.5rem;
    margin-bottom: 50px;
  }

  @include desktop {
    font-size: 3vw;
    margin-bottom: 3vw;
  }
}

// Normal text
@mixin text {
  @include phone {
    font-size: 1.25rem;
  }

  @include tablet {
    font-size: 1.5rem;
  }

  @include desktop {
    font-size: 1.75rem;
  }

  @media only screen and (min-width: 1800px) {
    font-size: 1.75vw;
  }
}

// Small text
@mixin small-text {
  @include phone {
    font-size: 1rem;
  }

  @include tablet {
    font-size: 1.25rem;
  }

  @include desktop {
    font-size: 1.5rem;
  }

  @media only screen and (min-width: 1800px) {
    font-size: 1.5vw;
  }
}

// Large text
@mixin large-text {
  @include phone {
    font-size: 6rem;
  }

  @include tablet {
    font-size: 8rem;
  }

  @include desktop {
    font-size: 10vw;
  }
}

// Link
@mixin link {
  color: $black;
  text-decoration: underline;
  transition: all 0.25s ease;

  &:hover {
    color: $pink;
    text-decoration: none;
  }
}

// Text highlight
@mixin highlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, $pink 40%);
}

// Border (dev purposes)
@mixin border {
  border: 1px solid red;
}

// Backgrounds

@mixin square-bg {
  background-image: linear-gradient(
      transparent 150px,
      rgba(45, 45, 45, 0.25) 151px,
      transparent 151px
    ),
    linear-gradient(
      90deg,
      transparent 150px,
      rgba(45, 45, 45, 0.25) 151px,
      transparent 151px
    );
  background-size: 100% 151px, 151px 100%;
  background-attachment: fixed;
  @media only screen and (min-width: 2400px) {
    background-image: linear-gradient(
        transparent 250px,
        rgba(45, 45, 45, 0.25) 252px,
        transparent 252px
      ),
      linear-gradient(
        90deg,
        transparent 250px,
        rgba(45, 45, 45, 0.25) 252px,
        transparent 252px
      );
    background-size: 100% 252px, 252px 100%;
  }
}
