@import "../../index.scss";

.faq {
  @include square-bg;

  // Accordion
  .accordion {
    @include container;

    .item {
      display: flex;
      flex-direction: column;
      width: 100%;

      // Question
      .question {
        cursor: pointer;
        display: flex;
        align-items: center;
        border: 2px solid $black;
        border-radius: 2px;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-left: -10px;

        // Text
        p {
          width: 90%;
          @include text;
        }

        // Toggle indicator
        .toggle {
          width: 50px;
          height: 50px;
          border: 0;
          position: relative;
          outline: none;

          span {
            position: absolute;
            transition: 0.3s;
            background: $black;
            border-radius: 1px;

            &:first-of-type {
              top: 32%;
              bottom: 32%;
              width: 2px;
              left: 53%;
            }

            &:last-of-type {
              left: 36%;
              right: 27%;
              height: 2px;
              top: 48%;
            }
          }

          &.active {
            background-color: transparent;
            span:first-of-type {
              transform: rotate(90deg);
            }

            span:last-of-type {
              transform: rotate(90deg);
              left: 50%;
              right: 50%;
            }
          }
        }
      }

      // Answer
      .answer {
        overflow: hidden;
        transition: all 0.5s ease;

        p {
          @include small-text;
          padding: 15px 10px;
          span {
            @include highlight;
          }
        }

        a {
          @include link;
        }

        ul {
          list-style-type: none;
          padding: 0 0 0 10px;

          li {
            @include small-text;
            margin-bottom: 5px;
            span {
              @include highlight;
            }
          }
        }
      }
    }
  }

  // Form
  .form {
    @include container;
    padding: 100px 0 50px;

    p {
      @include text;
    }

    form {
      display: flex;
      flex-direction: column;
      padding: 50px 0;

      > div {
        display: flex;
        justify-content: space-between;

        label {
          width: 45%;
        }

        @include phone {
          flex-direction: column;
          label {
            width: 100%;
          }
        }
      }

      label {
        display: flex;
        flex-direction: column;
        @include small-text;
        margin: 25px 0;

        @include desktop {
          margin: 35px 0;
        }

        input,
        textarea {
          @include text;
          padding: 10px 2px;
          @media only screen and (min-width: 2400px) {
            padding: 0.6vw;
          }
          border: 1px solid $black;
          border-radius: 2px;
          font-family: "Roboto Mono", monospace;
          font-weight: 300;
          margin-top: 10px;
          background-color: white;
          outline: none;
          -webkit-appearance: none;
        }

        textarea {
          resize: none;

          &:focus {
            height: 200px;
            @include desktop {
              height: 300px;
            }
          }
        }
      }

      > div:last-of-type {
        width: 100%;
        margin: 15px 0;
        @include desktop {
          margin: 20px 0;
        }

        input[type="submit"] {
          @include button;
        }
      }

      @include phone {
        padding: 25px 0 50px;
      }
    }
  }
}
